%div.row
  %div.span10.offset1
    %h2.text-center Sign the petition!
    %p.lead
      %strong Terrific!
      &mdash; We're so happy to have your support!  Just fill out this form to sign
      the petition and show your support for string music at Oyster River!
    %p
      %strong What Happens Next
      &mdash; After you click "Sign!", we'll send an email asking you to
      confirm and verify you control that email address.  Once confirmed, we'll
      proudly display your name, town, and date you signed on
      = link_to 'the petition!', petition_url
    %p
      %strong Email Privacy
      &mdash; Your email address will only be used to confirm and verify your
      signature for purposes of this petition.  It will not be displayed on the
      website.
%div.row
  %div.span12
    =render :partial => 'form'
    =render :partial => 'petitions/petition'
