-if @signature.confirmed?
  -if @signature.confirmed_at > 15.minutes.ago
    %h2 Thank You!
    %p
      Thank-you for confirming your email address and supporting the growth of arts and music
      education at Oyster River.  Your signature has been added to
      = link_to 'the petition', petition_path
      as follows:
  =render :partial => 'signature'
-else
  %div
    -if @signature.confirmation.created_at > 15.minutes.ago
      %h2 Just One More Thing!
    -else
      %h2 Waiting For Confirmation
    %p
      Just one more thing to do and your signature will be added to the petition.  We sent a
      confirmation email
      = friendly_time(@signature.confirmation.sent_at)
      from
      %strong OR Strings Petition
      to
      -if @signature.confirmation.sent_at > 90.seconds.ago
        =succeed '.' do
          %strong= @signature.email
      -else
        the address you provided.
      Inside, there is a confirmation link that you must click
      to verify your email address and finish the signature process.
