%div.petition
  %p.lead
    We, the undersigned, respectfully request the Oyster River Cooperative School District (ORCSD) establish and financially support a string music curricula for the 2014/15 academic year to benefit children enrolled in our schools.
  %p
    Integrating strings into the current music curricula is a natural evolution of the successful Oyster River Elementary Orchestra (OREO) after-school program available to Mast Way, Moharimet, and ORMS students.  Inclusion in the school day ensures that string music instruction is accessible to all Oyster River students and working families who find themselves challenged to participate in extracurricular activities due to transportation cost or schedules. Treating string instruction similar to existing music instruction is consistent with the district’s core values of equity and inclusion.
  %p
    We acknowledge there are significant challenges to overcome integrating strings into the existing music program.  Challenges such as staffing, space availability, and intra/inter-school scheduling.  We are prepared to support our teachers and administration across all schools as they work together to solve these issues to the benefit of every learner.  In consideration of these issues, we respectfully suggest the following to the administration and music department:
    %ul
      %li
        Add a 0.8 to full-time music teacher with string specialty to the music department dedicated to the string curricula in the 2014/15 academic year budget.  This staffing level is critical to not only expand the program of study with minimal disruption to include strings alongside current wind, percussion, and choral opportunities, but to also attract experienced candidates capable of working with the current district music staff who have expertise in other instruments.
      %li
        Support and allow string music classes below minimum enrollment policies to be held as part of the school day, not just as extracurricular activities, while the program grows and develops over the initial years.
      %li
        Seed the program from the bottom up, building on OREO by initially offering elementary and middle school classes to organically grow interest for later offerings at higher grades.
