%div.petition
  %p
    %strong Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aliquam est orci, congue nec tempus in, malesuada eu magna. Vestibulum
    dapibus tincidunt metus vitae placerat. Cras sagittis diam sapien, eu
    dapibus risus vehicula a. Donec consectetur facilisis ipsum, in rhoncus
    velit sodales in. Praesent gravida pharetra dui, non consequat purus
    euismod ut. Etiam convallis nibh in pulvinar tempor. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Pellentesque euismod lectus sem, nec fringilla dui accumsan et. Donec non
    pellentesque velit. Mauris commodo, est nec vulputate commodo, tortor odio
    luctus lacus, sagittis rutrum lectus lorem eu mi. Maecenas eget urna
    dictum, sollicitudin velit ut, cursus lectus. Nulla blandit tempus turpis
    vitae ultrices.
  %p
    %strong Sed ornare a tortor et commodo.
    Phasellus id metus ut elit adipiscing rhoncus vitae nec lacus. Vestibulum
    risus massa, semper quis tempus non, varius sed nunc. Proin luctus ante nec
    fermentum laoreet. Pellentesque molestie congue erat at congue. Curabitur
    egestas et risus ac luctus. Duis vel urna in purus pellentesque
    sollicitudin. Aliquam vitae elit consectetur, semper est eu, elementum
    quam. Aliquam dictum, lorem eu tincidunt luctus, tortor mi rhoncus massa,
    nec viverra ipsum est id augue.  Aliquam erat volutpat. Donec accumsan,
    diam ac venenatis auctor, magna risus pharetra elit, eget molestie magna
    purus eu diam. Pellentesque pellentesque, ante ullamcorper commodo
    malesuada, justo nisi eleifend tellus, a posuere leo leo sit amet diam.
    Aenean semper ante sed faucibus condimentum. Nullam lorem ipsum, rhoncus ac
    imperdiet at, iaculis vulputate orci.
  %p
    %strong Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia Curae.
    Pellentesque in ante lectus. Curabitur dapibus purus eu venenatis luctus.
    In venenatis mi faucibus ligula ultrices, ut pretium nibh ornare. Morbi
    aliquam leo vel lobortis ultricies. Quisque at enim sagittis, facilisis
    enim a, congue felis. Sed eleifend quis sem eu ultrices.

