div.petition {
  font-size: $baseFontSize * 1.1;
  line-height: $baseLineHeight * 1.1;

  h2 {
    text-align: center;
  }

  ul {
    margin-left: $gridColumnWidth / 2;
    margin-right: $gridColumnWidth / 2;

    li {
      margin-bottom: $baseLineHeight;
    }
  }
}

div.petition-cta {
  margin-top: $baseLineHeight * 1.5;
  margin-bottom: $baseLineHeight * 1.5;
}
