%div.well.well-small.footer
  %div.pull-right
    This site created by
    %a{:href => 'http://brianturnbull.com'} Brian Turnbull
  %div
    %a{:href => 'https://www.facebook.com/groups/orstrings'}= image_tag 'fb40.png', :height => '20', :width => '20'
    %a{:href => 'https://www.facebook.com/groups/orstrings'}
      Join Our Facebook Group
