%div.well.well-small
  %div.pull-right
    This site created by
    %a{:href => 'mailto:orstrings@brianturnbull.com?subject=OR%20Strings%20Site'} Brian Turnbull
  %div
    %a{:href => 'https://www.facebook.com/groups/orstrings'} Join Our Facebook Group
