%div.well.well-small.footer
  %div.pull-right
    This site created by
    %a{:href => 'http://brianturnbull.com'} Brian Turnbull
  %div
    %a{:href => 'https://www.facebook.com/groups/orstrings'} Join Our Facebook Group
