%div.navbar.navbar-inverse
  %div.navbar-inner
    = link_to 'Oyster River Strings', root_path, :class => 'brand'
    %a{:href => new_petition_signature_path}
      %button.btn.btn-warning.pull-right{:type => 'button'} Sign Petition
    %ul.nav
      %li
        = link_to 'View Petition', petition_path
