%div.navbar.navbar-inverse
  %div.navbar-inner
    = link_to 'Oyster River Strings', root_path, :class => 'brand'
    %p.navbar-text.pull-right= link_to 'The Petition!', petition_path, :class => 'navbar-link'
    %ul.nav
